@model OnlineLearningSystem.Models.Problem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Problem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="SectionID" class="control-label"></label>
            <select asp-for="SectionID" class ="form-control" asp-items="ViewBag.SectionID"></select>
        </div>*@
            <input type="hidden" asp-for="SectionID" value="@ViewData["SectionID"]"/>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice1" class="control-label"></label>
                <input asp-for="Choice1" class="form-control" />
                <span asp-validation-for="Choice1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice2" class="control-label"></label>
                <input asp-for="Choice2" class="form-control" />
                <span asp-validation-for="Choice2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice3" class="control-label"></label>
                <input asp-for="Choice3" class="form-control" />
                <span asp-validation-for="Choice3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice4" class="control-label"></label>
                <input asp-for="Choice4" class="form-control" />
                <span asp-validation-for="Choice4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectChoiceID" class="control-label"></label>
                <input asp-for="CorrectChoiceID" class="form-control" />
                <span asp-validation-for="CorrectChoiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Sections" asp-action="Problems" asp-route-id="@ViewData["SectionID"]">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
